{# page:404错误页面 #}
{# author:chencc #}

{% load staticfiles %}
<html>

<head>
    <title>出错啦</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'alert/xcConfirm.css' %}">
    <link rel="icon" href="../static/image/piggy_bank.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'alert/xcConfirm.js' %}"></script>
    <style>
        .background{
            background-image: url({% static 'image/error.jpg' %});
        }
    </style>
</head>

<body>
    <div class="background">
    </div>
</body>

</html>