{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
<!--预先加载基本模板-->

{% block title %}【高庄银行】信贷申请{% endblock %}
<!--填充title模块-->

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'apply/apply.css' %}" />
{% endblock %}

{% block content %}
    <div class="breadnav">
        <a href="/index/" style="color:#000"><i class="fa fa-home"></i> 首页 </a>
        > <a href="/loans/"  style="color:#000"> 高庄效贷</a>
        > <a href="/loans/"> 信贷申请</a>
    </div>
    <hr>
    <div class="applyForm">

    </div>
    <script type="text/javascript" src="{% static 'apply/apply.js' %}"></script>
{% endblock %}