{# page:贷款详情页面可新增#}
{# author:syn #}

{% extends "admin/sidebar.html" %}
{% load static %}
{% load staticfiles %}
<!--预先加载基本模板-->

{% block title %}【高庄银行】我的贷款{% endblock %}
{% block BasicTable %}贷款详情新增{% endblock %}
<!--填充title模块-->

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'loanDetails2/loanDetails2.css' %}" />

<style>
    .btn-info {
        background-color: rgb(131, 174, 255);
        border: none;
        width: 200px;
        border-radius: 40px;
        margin-left: 190px;
    }
</style>
{% endblock %}

{% block content %}
<div class="mainbar">
        <p id="info"></p>
    <form class="form-horizontal" role="form"action="/loanDetails2Post/" method="post">
        {% csrf_token %}
        <div class="mainbar_input">
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">编号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="num" placeholder="请输入编号" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">贷款产品</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="请输入贷款产品" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">贷款额度</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="quota" placeholder="请输入贷款额度"
                        value="">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">贷款期限</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="time" placeholder="请输入贷款期限"
                        value="">
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">利率</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="rate" placeholder="请输入利率"
                        value="">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">还款付息方式</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="way" placeholder="请输入还款付息方式" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">简介</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="introduction" placeholder="请输入简介"
                        value="">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">费用说明</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="fee" placeholder="请输入费用说明"
                        value="">
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">还款说明</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="repayment" placeholder="请输入还款说明"
                        value="">
                </div>
            </div>
        </div>
        <div class="mainbar_textarea">
            <div>
                <span>详细描述</span>
                <textarea value=""id="detail"></textarea>
            </div>
            <div>
                <span>申请条件</span>
                <textarea class="textArea" value=""id="condition"></textarea>
            </div>

            <div>
                <span>所需材料</span>
                <textarea value=""id="material"></textarea>
            </div>
            <button type="submit" class="btn btn-info" style="margin-left:50px; opacity: 1;margin-top:20px"
                id="add_btn">提交新增</button>
        </div>
    </form>
</div>
<!-- <img src="{% static 'image/lb1.jpg' %}" > -->
<script type="text/javascript" src="{% static 'loanDetails2/loanDetails2.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'afterBase/afterBase.js' %}"></script> -->
{% endblock %}