<<<<<<< Updated upstream
.breadnav{
    margin-left: 100px;
    font-size: 1.1rem;
    padding-top: 20px;
=======
.breadnav{
    margin-left: 100px;
    font-size: 1.1rem;
    padding-top: 20px;
>>>>>>> Stashed changes
}