{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
<!--预先加载基本模板-->

{% block title %}【高庄银行】信贷申请{% endblock %}
<!--填充title模块-->

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'apply/apply.css' %}" />
{% endblock %}

{% block content %}
    <h5 class="bread">申请贷款</h5>
    <div class="info">
        <div class="applyInfo">
            <div class="applytitle">
                <label>贷款申请信息</label>
            </div>
            <div>
                <form action="/applyPost/" method="post">
                    <div class="value">
                        <span style="color: red">*</span><label>申请金额：</label>
                        <input type="text" name="money" class="formstyle" id="money" placeholder="申请额度为5-100万元">
                        <span> 万元</span>
                    </div>

                    <div class="time">
                        <span style="color: red">*</span><label>申请期限：</label>
                        <select id="month" class="formstyle">
                            <option selected="selected">请选择</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>8</option>
                            <option>12</option>
                            <option>24</option>
                            <option>36</option>
                            <option>48</option>
                            <option>60</option>
                        </select>
                        <span> 个月</span>
                    </div>

                    <div class="agree">
                        <input type="checkbox">我已阅读并同意以下协议：
                        <br>
                        <span>《互联网金融协议》</span>
                        <br>
                        <span>《信息查询申请表》</span>
                        <br>
                        <button type="submit" class="submit btn btn-primary">提交申请</button>

                    </div>


                </form>
            </div>
        </div>

        <div class="cost">
            <div class="applytitle">
                <label>预计费用</label>
            </div>
            <div class="calInfo">
                <div class="calcu">
                    <label class="waysLabel">还款付息方式</label>
                    <select id="ways" class="formstyle">
                        <option selected="selected">等本等息</option>
                        <option>等额本金</option>
                        <option>等额本息</option>
                    </select>
                </div>
                <div class="intesInfo">
                    <label class="waysLabel">利息合计(元)</label>
                    <input type="text" name="interest" class="formstyle" id="interest">
                </div>
                <span style="color: red">*以上结果仅供参考，以金融机构实际审批结果为准</span>
            </div>
        </div>
    </div>
{#    <script type="text/javascript" src="{% static 'apply/apply.js' %}"></script>#}
{% endblock %}

