{# page:企业认证页面 #}
{# author:syn #}

{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
<!--预先加载基本模板-->

{% block title %}【高庄银行】企业认证{% endblock %}
<!--填充title模块-->

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'certification/certification.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'afterBase.css' %}" />

{% endblock %}

{% block content %}
<div class="breadnav">
    <a href="/index" style="color:#000"><i class="fa fa-home"></i> 首页 </a> > <a href="/certification"> 企业认证</a>
</div>
<hr>

<!-- 侧边栏 -->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header" style="font-size:13px">我的金融助手</li>
            <li><a href="#"><i class="fa fa-usd fa-lg"></i> <span>我的贷款</span></a></li>
            <li class="header" style="font-size:13px">公司资料管理</li>
            <li><a href="#"><i class="fa fa-address-card"></i> <span>企业认证</span></a></li>
            <li class="header" style="font-size:13px">基本设置</li>
            <li><a href="#"><i class="fa fa-phone-square"></i> <span>绑定/修改邮箱</span></a></li>
            <li><a href="#"><i class="fa fa-user-circle-o"></i> <span>成为金蝶用户</span></a></li>
        </ul>
    </section>
</aside>

<div class="form_bar">
    <form class="form-horizontal" role="form"action="//" method="post">
            {% csrf_token %}
        <div class="div_h5" style="margin-left:-150px">
            <h5>企业认证</h5>
        </div>
        <div class="form-group" style=" margin-top: 40px;">
            <label for="firstname" class="col-sm-4 control-label">企业名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Company_Name" placeholder="请输入企业名称" style="font-size:16px">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-4 control-label">统一社会信用代码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Credit_code" placeholder="请输入统一社会信用代码"
                    style="font-size:16px">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-4 control-label">法定代表人姓名</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Legal_representative_name" placeholder="请输入法定代表人姓名"
                    style="font-size:16px">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-4 control-label">法定代表人身份证号码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Legal_representative_id" placeholder="请输入法定代表人身份证号码"
                    style="font-size:16px">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-4 control-label">法定代表人银行卡号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Legal_representative_card" placeholder="请输入银行卡号"
                    style="font-size:16px">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-4 control-label">银行预留手机号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Bank_phone" placeholder="请输入银行预留手机号" style="font-size:16px">
            </div>
        </div>
        <p id="info"></p>
        <div style="margin-left: 80px;display: flex;flex-direction: row;margin-top: 15px;">
            <input type="button" value="提交" class="btn_submit" name="submit">
            <!-- <p class="login_bar_p">&nbsp;&nbsp;免费注册</p> -->
        </div>
    </form>

</div>
<script type="text/javascript" src="{% static 'certification/certification.js' %}"></script>
<script type="text/javascript" src="{% static 'afterBase.js' %}"></script>
<script>
    $.sidebarMenu($('.sidebar-menu'))
</script>
{% endblock %}